@import '@/styles/main.scss';

.wrap {
    padding: 30px 20px;
    background: $gradient-bg-gray;
    color: $color-text;
    border-radius: 8px;
}

.head {
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::after {
        content: '';
        width: calc(100% - 60px);
        height: 1px;
        background: rgba($color-text, 0.2);
        position: absolute;
        bottom: 0;
        left: 30px;
    }
}

.title {
    font-size: 36px;
} 

.filter {

}